n8n-facebook-dm-trigger.workflow.json
{
  "name": "Facebook Comment → DM Trigger (Devree)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "FB Verificatie (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "notes": "Facebook stuurt éénmalig een GET-verzoek om de webhook-URL te verifiëren.\nURL in Facebook App: https://jouw-n8n.com/webhook/facebook-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-verify-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.FACEBOOK_VERIFY_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-0000-0000-000000000009",
      "name": "Verify Token correct?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 200],
      "notes": "Vergelijkt hub.verify_token met FACEBOOK_VERIFY_TOKEN (n8n omgevingsvariabele).\nTRUE  → stuur hub.challenge terug\nFALSE → weiger met 403"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "Stuur hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 120]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a1b2c3d4-0010-0000-0000-000000000010",
      "name": "Weiger (403)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 280],
      "notes": "Verkeerde verify token → 403 terug naar Facebook."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "onReceived",
        "options": {
          "responseData": "noData",
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "FB Events (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 480],
      "notes": "Ontvangt alle Facebook page-events (reacties, likes, etc.). Dezelfde URL als de GET-verificatie hierboven."
    },
    {
      "parameters": {
        "jsCode": "// Verwerk inkomende Facebook comment-events.\n// Geeft één item per nieuwe reactie terug; alles anders wordt gefilterd.\n\nconst body = $input.first().json.body;\n\nif (!body?.entry?.length) return [];\n\nconst items = [];\nfor (const entry of body.entry) {\n  for (const change of (entry.changes ?? [])) {\n    const v = change.value;\n    // Alleen nieuwe reacties (geen bewerkingen, verwijderingen of likes)\n    if (v?.item !== 'comment' || v?.verb !== 'add') continue;\n\n    items.push({ json: {\n      postId:        v.post_id,\n      commentId:     v.comment_id,\n      commenterId:   v.from?.id   ?? '',\n      commenterNaam: v.from?.name ?? '',\n      tekst:         (v.message  ?? '').trim(),\n    }});\n  }\n}\nreturn items;"
      },
      "id": "a1b2c3d4-0004-0000-0000-000000000004",
      "name": "Extraheer Reactie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 480]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DEVREE_PLATFORM_URL }}/api/facebook-triggers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $json.postId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "Haal DM-trigger op",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 480],
      "notes": "Vraagt het devree-platform om de actieve trigger voor dit post-ID.\n200 → { keyword, dmTekst }\n404 → { error: '...' }  (geen actieve trigger)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-keyword-exists",
              "leftValue": "={{ $json.keyword }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0000-0000-000000000006",
      "name": "Trigger gevonden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 480],
      "notes": "TRUE  → platform stuurde keyword + dmTekst terug\nFALSE → 404, geen trigger voor dit post-ID"
    },
    {
      "parameters": {
        "jsCode": "// Controleer of de reactietekst het keyword bevat (case-insensitief).\n// Return [] = executie stopt hier (geen DM versturen).\n\nconst keyword      = $json.keyword;\nconst dmTekst      = $json.dmTekst;\nconst comment      = $('Extraheer Reactie').item.json;\n\nif (!comment.tekst.toLowerCase().includes(keyword.toLowerCase())) {\n  return [];\n}\n\nreturn [{ json: {\n  commenterId:   comment.commenterId,\n  commenterNaam: comment.commenterNaam,\n  tekst:         comment.tekst,\n  keyword,\n  dmTekst,\n}}];"
      },
      "id": "a1b2c3d4-0007-0000-0000-000000000007",
      "name": "Controleer keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 380],
      "notes": "Vergelijkt de reactietekst met het keyword. Stopt de executie als er geen match is."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ recipient: { id: $json.commenterId }, message: { text: $json.dmTekst }, messaging_type: 'RESPONSE' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-0000-0000-000000000008",
      "name": "Verstuur Facebook DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 380],
      "notes": "Stuurt een DM via de Facebook Messenger API.\nVereist: FACEBOOK_PAGE_ACCESS_TOKEN (lange-termijn page access token)."
    }
  ],
  "connections": {
    "FB Verificatie (GET)": {
      "main": [
        [
          {
            "node": "Verify Token correct?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token correct?": {
      "main": [
        [
          {
            "node": "Stuur hub.challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weiger (403)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Events (POST)": {
      "main": [
        [
          {
            "node": "Extraheer Reactie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraheer Reactie": {
      "main": [
        [
          {
            "node": "Haal DM-trigger op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haal DM-trigger op": {
      "main": [
        [
          {
            "node": "Trigger gevonden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger gevonden?": {
      "main": [
        [
          {
            "node": "Controleer keyword",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Controleer keyword": {
      "main": [
        [
          {
            "node": "Verstuur Facebook DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "devree-facebook-dm-trigger-v1",
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
