n8n/Realworks → Mautic Contact Sync.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "00cd7c38-5a16-4cb1-a085-c915a7ca676b"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93605f65-1ace-4b18-8c72-3e1aff846611",
      "name": "Heeft e-mail?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -512,
        944
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realworks-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d0477c85-9e73-4d96-bba9-e9444e8eabae",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        944
      ],
      "webhookId": "a4346361-df9b-4c48-a8a2-8e53f2d7656f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "search": "=email:{{ $json.email }}"
        }
      },
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        48,
        944
      ],
      "id": "0e29590f-52a7-4ab1-bfa9-5cee20d15f2f",
      "name": "Search in Mautic1",
      "alwaysOutputData": true,
      "credentials": {
        "mauticOAuth2Api": {
          "id": "cM1cWckWqxTr8y3V",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const searchResult = $input.item.json;\nconst originalData = $('Code in JavaScript').first().json;\n\nconst contactExists = searchResult && searchResult.id ? true : false;\nconst mauticContactId = contactExists ? searchResult.id : null;\n\nreturn {\n  json: {\n    ...originalData,\n    _contactExists: contactExists,\n    _mauticContactId: mauticContactId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        944
      ],
      "id": "8fa32ebb-0686-4859-adca-009d0c5e18c4",
      "name": "Check if Exists1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json._contactExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b404404-583a-4257-85d8-62f3b04930dc",
      "name": "Contact Exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        944
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.email }}",
        "firstName": "={{ $json.firstname }}",
        "lastName": "={{ $json.lastname }}",
        "additionalFields": {
          "addressUi": {
            "addressValues": {
              "address1": "={{ $json.address }}",
              "address2": "={{ $json.zipcode }} {{ $json.city }}",
              "city": "={{ $json.city }}",
              "zipCode": "={{ $json.zipcode }}"
            }
          },
          "customFieldsUi": {
            "customFieldValues": [
              {
                "fieldId": "realworks_code",
                "fieldValue": "={{ $json.realworks_code }}"
              },
              {
                "fieldId": "huisnummer",
                "fieldValue": "={{ $json.huisnummer }}"
              },
              {
                "fieldId": "huisnummer_toevoeging",
                "fieldValue": "={{ $json.huisnummer_toevoeging }}"
              },
              {
                "fieldId": "contact_type_koper",
                "fieldValue": "={{ $json.contact_type_koper }}"
              },
              {
                "fieldId": "contact_type_verkoper",
                "fieldValue": "={{ $json.contact_type_verkoper }}"
              },
              {
                "fieldId": "contact_type_zoeker",
                "fieldValue": "={{ $json.contact_type_zoeker }}"
              },
              {
                "fieldId": "contact_type_bezichtiger",
                "fieldValue": "={{ $json.contact_type_bezichtiger }}"
              },
              {
                "fieldId": "laatste_transactie_jaar",
                "fieldValue": "={{ $json.laatste_transactie_jaar }}"
              },
              {
                "fieldId": "transactie_jaren",
                "fieldValue": "={{ $json.transactie_jaren }}"
              },
              {
                "fieldId": "segment_prioriteit",
                "fieldValue": "={{ $json.segment_prioriteit }}"
              },
              {
                "fieldId": "campagne_oudklanten",
                "fieldValue": "={{ $json.campagne_oudklanten }}"
              },
              {
                "fieldId": "intentie_verkoop",
                "fieldValue": "={{ $json.intentie_verkoop }}"
              }
            ]
          },
          "mobile": "={{ $json.mobile }}",
          "phone": "={{ $json.phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        544,
        1152
      ],
      "id": "8702ffa3-6fa0-47b1-b49f-941570d2e750",
      "name": "Create Mautic Contact1",
      "retryOnFail": true,
      "credentials": {
        "mauticOAuth2Api": {
          "id": "cM1cWckWqxTr8y3V",
          "name": "Mautic account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst pick = (...values) => values.find((value) => value !== undefined && value !== null && String(value).trim() !== '') || '';\n\nconst countryMap = { 'NL': 'Netherlands', 'BE': 'Belgium', 'DE': 'Germany' };\n\nreturn [{\n  json: {\n    firstname:              body.firstname                                        || '',\n    lastname:               body.lastname                                         || '',\n    email:                  body.email                                            || '',\n    mobile:                 body.mobile                                           || '',\n    phone:                  body.tel1                                             || '',\n    address1:               `${body.hstreet || ''} ${body.hhouseno || ''}`.trim(),\n    address2:               `${body.hzipcode || ''} ${body.hcity || ''}`.trim(),\n    zipcode:                body.hzipcode                                         || '',\n    city:                   body.hcity                                            || '',\n    country:                countryMap[body.hcountry] || body.hcountry            || '',\n    salutation:             body.saluation                                        || '',\n    typerela:               body.rtype                                            || '',\n    systemid:               body._systemid                                        || '',\n    realworks_code:         body.rcode                                            || '',\n    huisnummer:             body.hhouseno                                         || '',\n    huisnummer_toevoeging:  body.hhousenoadd                                      || '',\n    _mauticContactId:  body.field1                                      || '',\n    woning_adres:           `${body.hstreet || ''} ${body.hhouseno || ''}, ${body.hzipcode || ''} ${body.hcity || ''}`.trim(),\n    otd_aanhef:             pick(body.otd_aanhef, body.aanhef, body.saluation, body.salutation, body.title),\n    otd_initialen:          pick(body.otd_initialen, body.initials, body.initialen, body.inits),\n    otd_voornamen:          pick(body.otd_voornamen, body.voornamen, body.firstnames, body.firstname_full, body.firstname),\n    otd_geboorteplaats:     pick(body.otd_geboorteplaats, body.geboorteplaats, body.birthplace, body.birth_place, body.pobirth),\n    otd_burgerlijke_staat:  pick(body.otd_burgerlijke_staat, body.agreement_label, body.burgerlijke_staat, body.marital_status, body.maritalstatus, body.burgstat, body.agreement),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        848
      ],
      "id": "9b7f2d1c-dd78-49d5-bb3f-cfdeea5bbda4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "contactId": "={{ $json._mauticContactId }}",
        "updateFields": {
          "addressUi": {
            "addressValues": {
              "address1": "={{ $json.address1 }}",
              "address2": "={{ $json.address2 }}",
              "city": "={{ $json.city }}",
              "country": "={{ $json.country }}",
              "zipCode": "={{ $json.zipcode }}"
            }
          },
          "customFieldsUi": {
            "customFieldValues": [
              {
                "fieldId": "systemid",
                "fieldValue": "={{ $json.systemid }}"
              },
              {
                "fieldId": "realworks_code",
                "fieldValue": "={{ $json.realworks_code }}"
              },
              {
                "fieldId": "huisnummer",
                "fieldValue": "={{ $json.huisnummer }}"
              },
              {
                "fieldId": "huisnummer_toevoeging",
                "fieldValue": "={{ $json.huisnummer_toevoeging }}"
              },
              {
                "fieldId": "woning_adres",
                "fieldValue": "={{ $json.woning_adres }}"
              },
              {
                "fieldId": "contact_type_koper",
                "fieldValue": "={{ $json.contact_type_koper }}"
              },
              {
                "fieldId": "contact_type_verkoper",
                "fieldValue": "={{ $json.contact_type_verkoper }}"
              },
              {
                "fieldId": "contact_type_zoeker",
                "fieldValue": "={{ $json.contact_type_zoeker }}"
              },
              {
                "fieldId": "contact_type_bezichtiger",
                "fieldValue": "={{ $json.contact_type_bezichtiger }}"
              },
              {
                "fieldId": "laatste_transactie_jaar",
                "fieldValue": "={{ $json.laatste_transactie_jaar }}"
              },
              {
                "fieldId": "transactie_jaren",
                "fieldValue": "={{ $json.transactie_jaren }}"
              },
              {
                "fieldId": "segment_prioriteit",
                "fieldValue": "={{ $json.segment_prioriteit }}"
              },
              {
                "fieldId": "campagne_oudklanten",
                "fieldValue": "={{ $json.campagne_oudklanten }}"
              },
              {
                "fieldId": "intentie_verkoop",
                "fieldValue": "={{ $json.intentie_verkoop }}"
              },
              {
                "fieldId": "otd_aanhef",
                "fieldValue": "={{ $json.otd_aanhef }}"
              },
              {
                "fieldId": "otd_initialen",
                "fieldValue": "={{ $json.otd_initialen }}"
              },
              {
                "fieldId": "otd_voornamen",
                "fieldValue": "={{ $json.otd_voornamen }}"
              },
              {
                "fieldId": "otd_geboorteplaats",
                "fieldValue": "={{ $json.otd_geboorteplaats }}"
              },
              {
                "fieldId": "otd_burgerlijke_staat",
                "fieldValue": "={{ $json.otd_burgerlijke_staat }}"
              }
            ]
          },
          "firstName": "={{ $json.firstname }}",
          "lastName": "={{ $json.lastname }}",
          "mobile": "={{ $json.mobile }}",
          "phone": "={{ $json.phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        688,
        752
      ],
      "id": "82fd5719-e74f-40b4-96de-4478e299bb90",
      "name": "Update Mautic Contact",
      "credentials": {
        "mauticOAuth2Api": {
          "id": "cM1cWckWqxTr8y3V",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "systemid-check",
              "leftValue": "={{ Number($('Code in JavaScript').item.json.systemid) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55817b47-ae47-41d8-9189-45c86e465154",
      "name": "Heeft systemid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kantoor.devreemakelaardij.nl/api/realworks-tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "=vKnHQNz2nUpDpNsJu1AD6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ taskType: 'write_field', realworksRelationId: String($('Code in JavaScript').first().json.systemid), fieldName: 'field1', fieldValue: String($json.id) }) }}",
        "options": {}
      },
      "id": "64e6148e-b0ec-492e-8740-b90d8ee9f7cf",
      "name": "Schrijf naar Realworks Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1264
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "617d5b1a-b38d-4059-8f9b-e5dd11e9ed78",
      "name": "Respond1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1408,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done",
              "name": "status",
              "value": "contact verwerkt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d687a41e-0807-4a36-ab21-9673a79af7b4",
      "name": "Contact Verwerkt1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        832
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._mauticContactId }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "ff8d5504-6363-4a16-a7d4-dbb26fae94bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e864ba7-72bd-4108-9e06-89813d51a246",
                    "leftValue": "={{ $json._mauticContactId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        800
      ],
      "id": "c997a911-1da5-4d9b-a2a3-367a0b8cced4",
      "name": "Switch2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "contactId": "={{ $json._mauticContactId }}",
        "updateFields": {
          "addressUi": {
            "addressValues": {
              "address1": "={{ $json.address1 }}",
              "address2": "={{ $json.address2 }}",
              "city": "={{ $json.city }}",
              "country": "={{ $json.country }}",
              "zipCode": "={{ $json.zipcode }}"
            }
          },
          "customFieldsUi": {
            "customFieldValues": [
              {
                "fieldId": "systemid",
                "fieldValue": "={{ $json.systemid }}"
              },
              {
                "fieldId": "realworks_code",
                "fieldValue": "={{ $json.realworks_code }}"
              },
              {
                "fieldId": "huisnummer",
                "fieldValue": "={{ $json.huisnummer }}"
              },
              {
                "fieldId": "huisnummer_toevoeging",
                "fieldValue": "={{ $json.huisnummer_toevoeging }}"
              },
              {
                "fieldId": "woning_adres",
                "fieldValue": "={{ $json.woning_adres }}"
              },
              {
                "fieldId": "contact_type_koper",
                "fieldValue": "={{ $json.contact_type_koper }}"
              },
              {
                "fieldId": "contact_type_verkoper",
                "fieldValue": "={{ $json.contact_type_verkoper }}"
              },
              {
                "fieldId": "contact_type_zoeker",
                "fieldValue": "={{ $json.contact_type_zoeker }}"
              },
              {
                "fieldId": "contact_type_bezichtiger",
                "fieldValue": "={{ $json.contact_type_bezichtiger }}"
              },
              {
                "fieldId": "laatste_transactie_jaar",
                "fieldValue": "={{ $json.laatste_transactie_jaar }}"
              },
              {
                "fieldId": "transactie_jaren",
                "fieldValue": "={{ $json.transactie_jaren }}"
              },
              {
                "fieldId": "segment_prioriteit",
                "fieldValue": "={{ $json.segment_prioriteit }}"
              },
              {
                "fieldId": "campagne_oudklanten",
                "fieldValue": "={{ $json.campagne_oudklanten }}"
              },
              {
                "fieldId": "intentie_verkoop",
                "fieldValue": "={{ $json.intentie_verkoop }}"
              },
              {
                "fieldId": "otd_aanhef",
                "fieldValue": "={{ $json.otd_aanhef }}"
              },
              {
                "fieldId": "otd_initialen",
                "fieldValue": "={{ $json.otd_initialen }}"
              },
              {
                "fieldId": "otd_voornamen",
                "fieldValue": "={{ $json.otd_voornamen }}"
              },
              {
                "fieldId": "otd_geboorteplaats",
                "fieldValue": "={{ $json.otd_geboorteplaats }}"
              },
              {
                "fieldId": "otd_burgerlijke_staat",
                "fieldValue": "={{ $json.otd_burgerlijke_staat }}"
              }
            ]
          },
          "firstName": "={{ $json.firstname }}",
          "lastName": "={{ $json.lastname }}",
          "mobile": "={{ $json.mobile }}",
          "phone": "={{ $json.phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        560,
        928
      ],
      "id": "74e080d9-bec8-4871-98c2-14e84ab19694",
      "name": "Update Mautic Contact1",
      "credentials": {
        "mauticOAuth2Api": {
          "id": "cM1cWckWqxTr8y3V",
          "name": "Mautic account"
        }
      }
    }
  ],
  "connections": {
    "Heeft e-mail?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Heeft e-mail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Mautic1": {
      "main": [
        [
          {
            "node": "Check if Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Exists1": {
      "main": [
        [
          {
            "node": "Contact Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?1": {
      "main": [
        [
          {
            "node": "Update Mautic Contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Mautic Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mautic Contact1": {
      "main": [
        [
          {
            "node": "Heeft systemid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Mautic Contact": {
      "main": [
        [
          {
            "node": "Contact Verwerkt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heeft systemid?": {
      "main": [
        [
          {
            "node": "Schrijf naar Realworks Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contact Verwerkt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schrijf naar Realworks Queue": {
      "main": [
        [
          {
            "node": "Contact Verwerkt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Verwerkt1": {
      "main": [
        [
          {
            "node": "Respond1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Update Mautic Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search in Mautic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Mautic Contact1": {
      "main": [
        [
          {
            "node": "Heeft systemid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87a1d868d5450dbb4dda501076b972570daba041e460c5c89588d3b02fc1be40"
  }
}