n8n/Realworks Agenda Sync.json
{
  "name": "Realworks Agenda Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realworks-agenda-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 400],
      "webhookId": "realworks-agenda-sync"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-760, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.agenda }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000010"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Heeft agenda data?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-760, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.agenda",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Splits agendapunten",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-520, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.systemid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000011"
            },
            {
              "leftValue": "={{ $json.js_do_not_open }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000012"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Filter UI items eruit",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-280, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "systemid",
              "value": "={{ $json.systemid }}",
              "type": "number"
            },
            {
              "id": "field-002",
              "name": "agcode",
              "value": "={{ $json.agcode }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "agdescr",
              "value": "={{ $json.agdescr }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "agtype",
              "value": "={{ $json.agtype }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "agstatus",
              "value": "={{ $json.agstatus }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "agbegin",
              "value": "={{ $json.agbegin }}",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "agend",
              "value": "={{ $json.agend }}",
              "type": "string"
            },
            {
              "id": "field-008",
              "name": "aglocation",
              "value": "={{ $json.aglocation }}",
              "type": "string"
            },
            {
              "id": "field-009",
              "name": "agobjcode",
              "value": "={{ $json.agobjcode }}",
              "type": "string"
            },
            {
              "id": "field-010",
              "name": "agrcode",
              "value": "={{ $json.agrcode }}",
              "type": "string"
            },
            {
              "id": "field-011",
              "name": "relation_relationid",
              "value": "={{ $json.relation_relationid }}",
              "type": "string"
            },
            {
              "id": "field-012",
              "name": "employee_employeeid",
              "value": "={{ $json.employee_employeeid }}",
              "type": "number"
            },
            {
              "id": "field-013",
              "name": "medewerker_fullname",
              "value": "={{ $json.medewerker_fullname }}",
              "type": "string"
            },
            {
              "id": "field-014",
              "name": "agmemo",
              "value": "={{ $json.agmemo }}",
              "type": "string"
            },
            {
              "id": "field-015",
              "name": "agintratext",
              "value": "={{ $json.agintratext }}",
              "type": "string"
            },
            {
              "id": "field-016",
              "name": "agenda_date",
              "value": "={{ $json.agenda_date }}",
              "type": "string"
            },
            {
              "id": "field-017",
              "name": "agallday",
              "value": "={{ $json.agallday }}",
              "type": "boolean"
            },
            {
              "id": "field-018",
              "name": "aginactive",
              "value": "={{ $json.aginactive }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Map velden",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-40, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Heeft agenda data?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Heeft agenda data?": {
      "main": [
        [
          { "node": "Splits agendapunten", "type": "main", "index": 0 }
        ]
      ]
    },
    "Splits agendapunten": {
      "main": [
        [
          { "node": "Filter UI items eruit", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter UI items eruit": {
      "main": [
        [
          { "node": "Map velden", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-17T00:00:00.000Z",
  "versionId": "1"
}
