n8n/Realworks Agenda Sync.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.systemid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000011"
            },
            {
              "leftValue": "={{ $json.js_do_not_open }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000012"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2598c1e-da9b-4458-8964-8bb1e6c9ca93",
      "name": "Filter UI items eruit",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        176,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "systemid",
              "value": "={{ $json.systemid }}",
              "type": "number"
            },
            {
              "id": "field-002",
              "name": "agcode",
              "value": "={{ $json.agcode }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "agdescr",
              "value": "={{ $json.agdescr }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "agtype",
              "value": "={{ $json.agtype }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "agstatus",
              "value": "={{ $json.agstatus }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "agbegin",
              "value": "={{ $json.agbegin }}",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "agend",
              "value": "={{ $json.agend }}",
              "type": "string"
            },
            {
              "id": "field-008",
              "name": "aglocation",
              "value": "={{ $json.aglocation }}",
              "type": "string"
            },
            {
              "id": "field-009",
              "name": "agobjcode",
              "value": "={{ $json.agobjcode }}",
              "type": "string"
            },
            {
              "id": "field-010",
              "name": "agrcode",
              "value": "={{ $json.agrcode }}",
              "type": "string"
            },
            {
              "id": "field-011",
              "name": "relation_relationid",
              "value": "={{ $json.relation_relationid }}",
              "type": "string"
            },
            {
              "id": "field-012",
              "name": "employee_employeeid",
              "value": "={{ $json.employee_employeeid }}",
              "type": "number"
            },
            {
              "id": "field-013",
              "name": "medewerker_fullname",
              "value": "={{ $json.medewerker_fullname }}",
              "type": "string"
            },
            {
              "id": "field-014",
              "name": "agmemo",
              "value": "={{ $json.agmemo }}",
              "type": "string"
            },
            {
              "id": "field-015",
              "name": "agintratext",
              "value": "={{ $json.agintratext }}",
              "type": "string"
            },
            {
              "id": "field-016",
              "name": "agenda_date",
              "value": "={{ $json.agenda_date }}",
              "type": "string"
            },
            {
              "id": "field-017",
              "name": "agallday",
              "value": "={{ $json.agallday }}",
              "type": "boolean"
            },
            {
              "id": "field-018",
              "name": "aginactive",
              "value": "={{ $json.aginactive }}",
              "type": "boolean"
            },
            {
              "id": "609eb651-1a00-4d56-91ec-7ec48ae3cd76",
              "name": "id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf59ff78-cf63-4126-85c9-9221f3f0fa0d",
      "name": "Map velden",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1584
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.employee_employeeid }}",
                    "rightValue": 756270,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "1e484750-809a-4b17-8d1c-8ecf3c8a9254"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        1584
      ],
      "id": "621502af-70c8-478f-ba9f-8a918189b535",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "devree.melvin@gmail.com",
          "mode": "list",
          "cachedResultName": "devree.melvin@gmail.com"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        128,
        1984
      ],
      "id": "1d45e951-6548-4a12-b1ab-318e07276870",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cpb6GHtZXGl9kFGE",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "systemid",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        1760
      ],
      "id": "bb21c868-adfd-4330-ac35-5e2506b2c801",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .filter(item => item.json?.extendedProperties?.private?.id?.includes('@realworks.nl'))\n  .map(item => {\n    const match = item.json.extendedProperties.private.id.match(/crm\\.agenda_(\\d+)_/);\n    return {\n      json: {\n        ...item.json,\n        systemid: match ? Number(match[1]) : null,\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1984
      ],
      "id": "4afc3271-7f88-4e57-a6d9-4d40adebd4e3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "devree.melvin@gmail.com",
          "mode": "list",
          "cachedResultName": "devree.melvin@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "description": "={{ [$json.agobjcode ? 'objcode: ' + $json.agobjcode : '', $json.agrcode ? 'rcode: ' + $json.agrcode : '', $json.agmemo].filter(Boolean).join('\\n') }}",
          "location": "={{ $json.aglocation }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1696,
        2224
      ],
      "id": "5baa59e8-f86f-4cfb-8940-3552caeb2ae7",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cpb6GHtZXGl9kFGE",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kantoor.devreemakelaardij.nl/api/agenda/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "=vKnHQNz2nUpDpNsJu1AD6g"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agenda",
              "value": "={{ $json.body.agenda }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60b48475-cb6c-4700-89c0-67f0c9e9e776",
      "name": "Platform sync (gewijzigd?)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        1696
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.changed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000012"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45bba1ad-2541-42a2-81a5-dfda4bd1e7d0",
      "name": "Zijn er wijzigingen?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -176,
        1696
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "9fd15dd1-b3ae-4206-8ece-42e9d6738be4",
      "name": "Splits gewijzigde items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        1584
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "69f63040-2f3d-41ad-8889-6c3d44573f62",
      "name": "Respond2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -576,
        1536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.agenda }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "a1b2c3d4-0001-0001-0001-000000000010"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20a2d634-b00f-46fd-b6ee-0f6b61047a13",
      "name": "Heeft agenda data?1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -576,
        1696
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realworks-agenda-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d2191ef-e05f-4619-a283-2ac6c3781d63",
      "name": "Webhook agenda",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        1696
      ],
      "webhookId": "realworks-agenda-sync"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agrcode }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "70e6e9a9-8021-4df2-bf15-e7e91451e59f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6455020a-64bf-4228-8b46-8dbf52587ba0",
                    "leftValue": "={{ $json.agrcode }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1088,
        2000
      ],
      "id": "8408c327-1d6b-45b5-845a-33ff93182b72",
      "name": "Switch1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "search": "=realworks_code:{{ $json.agrcode }}"
        }
      },
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        1344,
        1856
      ],
      "id": "d5bde15d-d693-48e2-a0e2-f2bcfd17f4b2",
      "name": "Search in Mautic",
      "alwaysOutputData": true,
      "credentials": {
        "mauticOAuth2Api": {
          "id": "cM1cWckWqxTr8y3V",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: ruwe Mautic contacts array (één item per contact)\n// Koppel op: fields.all.realworks_code ↔ agrcode (uit eerdere items)\n\n// Haal agenda items op uit de vorige stap (pas naam aan)\nconst agendaItems = $('Switch1').all().map(i => i.json);\n\n// Bouw Mautic lookup map vanuit de ruwe Mautic response\nconst mauticMap = {};\nfor (const item of $input.all()) {\n  const d = item.json;\n  const f = d.fields?.all || {};\n  const rcode = String(f.realworks_code);\n  if (!rcode || rcode === 'null' || rcode === 'undefined') continue;\n\n  let profiel = {};\n  try { profiel = JSON.parse(f.ai_profiel_data || '{}'); } catch(e) {}\n  const afspraken = profiel.afspraken_history || [];\n  const laatste = afspraken.at(-1) || null;\n\n  mauticMap[rcode] = {\n    mautic_id: d.id,\n    naam: [f.firstname, f.lastname].filter(Boolean).join(' ') || null,\n    email: f.email || null,\n    mobiel: f.mobile || null,\n    telefoon: f.phone || null,\n    adres: f.address1 || null,\n    postcode: f.zipcode || null,\n    stad: f.city || null,\n    woning_adres: f.woning_adres || null,\n    punten: d.points ?? null,\n    laatste_actief: d.lastActive || null,\n    vorige_afspraak_type: laatste?.type || null,\n    vorige_afspraak_datum: laatste?.datum || null,\n    vorige_afspraak_locatie: laatste?.locatie || null,\n    vorige_afspraak_met: laatste?.met || null,\n    vorige_afspraak_status: laatste?.status || null,\n  };\n}\n\n// Merge agenda + Mautic\nreturn agendaItems.map(ag => ({\n  json: {\n    ...ag,\n    ...(mauticMap[String(ag.agrcode)] || {}),\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        1856
      ],
      "id": "0149431a-ba20-4eb1-9338-6c0b836e2a00",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "devree.melvin@gmail.com",
          "mode": "list",
          "cachedResultName": "devree.melvin@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "description": "={{ $json.naam }} \n{{ $json.agmemo }}",
          "location": "={{ $json.location }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1856,
        2016
      ],
      "id": "f0926131-9f76-4483-8108-70392b8e7cb2",
      "name": "Update an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cpb6GHtZXGl9kFGE",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Filter UI items eruit": {
      "main": [
        [
          {
            "node": "Map velden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map velden": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Platform sync (gewijzigd?)": {
      "main": [
        [
          {
            "node": "Zijn er wijzigingen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zijn er wijzigingen?": {
      "main": [
        [
          {
            "node": "Splits gewijzigde items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits gewijzigde items": {
      "main": [
        [
          {
            "node": "Filter UI items eruit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heeft agenda data?1": {
      "main": [
        [
          {
            "node": "Platform sync (gewijzigd?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook agenda": {
      "main": [
        [
          {
            "node": "Respond2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Heeft agenda data?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Search in Mautic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Mautic": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update an event2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87a1d868d5450dbb4dda501076b972570daba041e460c5c89588d3b02fc1be40"
  }
}
